.idea
.vscode
*.zip
node_modules
MastoShareChrome/assets/locales
MastoShareFirefox/assets/locales
MastoShareChrome/assets/images
MastoShareFirefox/assets/images
MastoshareFirefox/*.html
MastoshareChrome/*.html