body{
    background-image: url(../images/mastodon.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 350px;
}

#btnToot{
    width: 100%;
}

textarea{
    opacity: 0.8;
    padding: 10px;
    width:100%;
    height: 300px;
}

#pictures{
    padding: 0;
}

#pictures li{
    display: inline-block;
}

#pictures li img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
    margin-bottom: 10px;
}